<div class="icon">
<a href="home">  <%= image_tag "icon.jpg", class: "icon_img" %></a>
</div>

<h1>Recherche</h1>
<p>Trouver un meuble pour votre entreprise</p>

<p>Besoin d'un véhicule pour allez récupérer vos meubles ?</p>
<p>Louez un véhicule chez l'un de nos partenaires...</p>
<p>Voir les offres</p>
